// Variable overrides
:root{
	--purple-bg-color:#333a52;
	--red-bg-color:#b13d4f;
	--cream-bg-color:#f2eae3;
	--yellow-bg-color:#cba441;
	--grey-bg-color:#939ca5;
	--white-bg-color:#fff;
	--skyblue-bg-color:#39c1c8;
	--lightpink-bg-color:#d2958f;
	--lightgrey-bg-color:#c3bcbf;
	--purple-color:#333a52;
	--red-color:#b13d4f;
	--cream-color:#f2eae3;
	--yellow-color:#cba441;
	--grey-color:#939ca5;
	--skyblue-color:#39c1c8;
	--lightpink-color:#d2958f;
	--lightgrey-color:#c3bcbf;
	--border-radius:100px;
	--font-weight:bold;
	--transition:0.4s all ease-in-out;
	--border:none;
	--clip-path:polygon(0 0, 100% 14%, 100% 100%, 0% 100%);
	--clip-path-hover:polygon(0 0, 100% 5%, 100% 100%, 0% 100%);
	--cursor:pointer;
}